<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_fingerprint"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fingerprint"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:screenOrientation="portrait">

        <!-- Activity Principal -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de Registro de Impressão Digital -->
        <activity
            android:name=".FingerprintRegister"
            android:exported="false" />
        <!-- Activity de Home -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!-- Activity de Cadastro -->
        <activity
            android:name=".CreatAccountActivity"
            android:exported="false" />
        <!-- Activity de Transferência -->
        <activity
            android:name=".TransferActivity"
            android:exported="false" />
        <!-- Activity de Cartao -->
        <activity
            android:name=".CardActivity"
            android:exported="false" />
        <!-- Activity de Usuario -->
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <!-- Activity de Historico -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <!-- Activity de Envio de Dinheiro -->
        <activity
            android:name=".SendMoneyActivity"
            android:exported="false" />
        <!-- Activity de solicitar de Dinheiro do Pos -->
        <activity
            android:name=".pos.RequestMoneyPosActivity"
            android:exported="false" />
        <!-- Activity de Usuario -->
        <activity
            android:name=".UserActivity"
            android:exported="false" />

    </application>

</manifest>
